# Created by venv; see https://docs.python.org/3/library/venv.html
pyvenv.cfg
README.md
CACHEDIR.TAG
./__pycache__
./Include
./Lib
./Scripts
./venv
./build
config.*
pyconfig.h
python
Makefile
./Python
./Python-3.11.0
Python-3.11.0.tgz
python-config
python-config.py
./Misc
python-gdb.py
mminfo.ini
./Modules
./Objects
./Parser
platform
libpython3.11.a
pybuilddir.txt
./Programs
